
<div id='background'>
  <header class='cf'>
    <div class='wrapper_wide'>
      <a href='#' id='logo'>Podcast</a>
      <nav>
        <ul>
          <li><a href='#'>Explore</a></li>
          <li><a href='#'>Sign in</a></li>
          <li><a href='#'>Create!</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class='wrapper_skinny'>
    <h1>Post Up a Podcast, or Just LISTEN to one</h1>
    <a href='#' class='button button_highlight'>Create</a>
    <a href='#' class='button button_white'>Explore</a>
  </div>
</div>
